/* Universal */

* {
  padding: 0px;
  margin: 0px;
}

/* Selectores */

/* de tipo */

/*h1 {
  color: black;
}*/

/* Clases */

.parrafo {
  font-size: 30px;
}

/* Id (Debe ser unico)*/

#titulo {
  color: aqua;
}

/* Por atributo */

/*[type=text] {
  color: palevioletred;
}*/

/* Descendete */

/*section p {
  font-weight: bold;
  color: black;
}*/

/* Pseudoclases */

/*section p:hover {
  color: blue;
}*/

/* Unidades */

.contact-form {
  font-size: 25px;
  width: 100vw;
  height: 100vh;
}

/* Propiedades de texto */


.contact-form__h2 {
  font-size: 2em;
  font-family: Georgia;
  line-height: 2; /*La letra ocupa el doble (Va desde el centro de la letra 1 hacia arriba y 1 hacia abajo)*/
  font-weight: 400; /*Grosor de letra*/
  color: red;
}

.title {
  background: #a22;
  display: inline-block; /*Se convierta en un elemento en linea pero pueda adquirir comportamiento de bloque */
  padding: 100px;
  margin: 10px;
  border-radius: 2em;
  border: 10px solid red;
  box-shadow: 20px 10px 50px 10px black;
  text-shadow: 2px 20px 40px #fff;
  transform: rotate(45deg);
  outline: dashed;
}


/* div {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 10px solid blue;
  outline: 10px solid blue;
} */

/* .caja1{
  background: red;
}

.caja2 {
  background: yellow;
  position: relative;
  top: 40px;
  left: 20px;
  z-index: 0;
}

.caja3 {
  background: green;
  position: relative;
  z-index: 100;
}

.caja4 {
  background: lightpink;
}


.caja1:hover {
  outline: 3px solid blue;
} */

/* Z-index */

/* .contenedor {
  width: 300px;
  height: 300px;
  background: blue;
  margin: 40px;
} */

.hijo{
  background: orange;
  height: 120px;
  width: 120px;
  position: relative;
  left:  -20px;
  top: -40px;
  z-index: -1;
}

/* Position: Absolute */

/* .content {
  position: relative;
  width: 500px;
  height: 500px;
  background: green;
  margin: auto;
}
.content div {
  position: absolute;
}

.caja1 {
  background: yellow;
  top: 0;
}

.caja2 {
  background: red;
  position: absolute;
  right: 0;
}

.caja3 {
  background: blue;
  bottom: 0;
}

.caja4 {
  background: orange;
  right: 0;
  bottom: 0;
}

.caja5 {
  /* margin: 200px;
  background: aqua;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
} */

/* Position: Fixed */

/* div {
font-size: 40px;
} */

/* .content-fixed {
  position: fixed;
  background: red;
  opacity: 0.2;
} */

/* Overflow */

/* div {
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  width: 320px;
  height: 350px;
  border: 4px solid red;
  background: gray;
  overflow-x: scroll;
  overflow-y: hidden;
} */

/* Float */

/* .contenedor {
  border: 2px solid red;
  width: 80%;
  margin: auto;
  font-size: 20px;
  position: relative;
  top: 50px;
}

.contenedor img {
  float: right;
  width: 300px;
  padding: 20px;
}

.contenedor p {
  padding: 40px;
} */

/* Pseudoelementos */

/* .contenedor {
  padding: 20px;
}

.contenedor::first-line {
  background: red;
}

.contenedor::first-letter {
  color: blue;
  font-size: 35px;
}

input {
  padding: 6px;
}

input::placeholder {
  color: red;
  font-size: 15px;
}

input::selection {
  color: red;
  background: yellow;
}

b::before {
  content: 'Hola soy ';
}

b::after {
  content: ' Forero Orozco';
} */

/* Pseudoclases */

/* .contenedor{
  margin: 20px;
}

.contenedor .texto {
  padding: 10px;
  background: red;
  transition: all 2s, background 1s;
}

.contenedor .texto:hover {
  background: violet;
  border: 2px solid blue;
}

a:link {
  color: red;
}

a:visited {
  color: violet;
}

.caja {
  background: red;
  width: 300px;
  height: 300px;
}

.caja:active {
  background: violet;
}

input:focus {
  background: yellow;
}

.caja b:lang(en){
  background: yellow;
} */

/* Object Fit */

.caja {
  margin: 25px;
  width: 300px;
  height: 360px;
}

.caja img {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  object-fit: cover;
  object-position: right;
}