/* Universal */

* {
  padding: 0px;
  margin: 0px;
}

/* Selectores */

/* de tipo */

/*h1 {
  color: black;
}*/

/* Clases */

.parrafo {
  font-size: 30px;
}

/* Id (Debe ser unico)*/

#titulo {
  color: aqua;
}

/* Por atributo */

/*[type=text] {
  color: palevioletred;
}*/

/* Descendete */

/*section p {
  font-weight: bold;
  color: black;
}*/

/* Pseudoclases */

/*section p:hover {
  color: blue;
}*/

/* Unidades */

.contact-form {
  font-size: 25px;
  background: black;
  width: 50vw;
  color: #fff;
  height: 100vh;
}

/* Propiedades de texto */

.contact-form__h2 {
  font-size: 2em;
  font-family: Georgia;
  line-height: 2; /*La letra ocupa el doble (Va desde el centro de la letra 1 hacia arriba y 1 hacia abajo)*/
  font-weight: 400; /*Grosor de letra*/
  background: red;
}



