@use 'sass:math';
@use 'sass:string';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';
/* Numeros */

$variables: 2; //Entero
$pixeles: 3px; //Unidades

@debug 100*100;

$division: 10px / 2;

body {
  animation-duration: $division;
  font-size: math.div(4,5) * 30px;
}

//quoted string '' ""
//unquoted string

$selector: "h1";
$strings-comillas: "header header header";
$strinfsincomillas: center;

#{$selector}{
  color: yellow;
}

.grid {
  grid-template-columns: string.unquote($strings-comillas);
  grid-template-columns: string.quote($strinfsincomillas);
}

@debug meta.type-of($strings-comillas);

//Listas

$boxshadow: 1px 1px 20px;

@debug meta.type-of($boxshadow);

.grid{
  margin-top: list.nth($boxshadow, 3);
}

/* MAPAS */

$colores: (
  "key": red,
  "primary": blue,
);

body {
  background: map.get($colores, "primary");
}

//Booleanos

$condicional: true; //false o null

@if ($condicional) {
  .grid{
    display: grid;
  }
}@else{
  .grid{
    display: flex;
  }
}