@use 'sass:math';
@use 'sass:string';
@use 'sass:meta';
@use 'sass:list';

/* Numeros */

$variables: 2; //Entero
$pixeles: 3px; //Unidades

@debug 100*100;

$division: 10px / 2;

body {
  animation-duration: $division;
  font-size: math.div(4,5) * 1px;
}

//quoted string '' ""
//unquoted string

$selector: "h1";
$strings-comillas: "header header header";
$strinfsincomillas: center;

#{$selector}{
  color: yellow;
}

.grid {
  grid-template-columns: string.unquote($strings-comillas);
  grid-template-columns: string.quote($strinfsincomillas);
}

@debug meta.type-of($strings-comillas);

//Listas

$boxshadow: 1px 1px 20px;

@debug meta.type-of($boxshadow);

.grid{
  margin-top: list.nth($boxshadow, 3);
}

