//importacion de modulos

@use 'variables';
@use 'nesting';

//Declarar Variables

$primary: red;

h2 {
  color: $primary;
}

body {
  //Nesting o anidamiento
  $primary: green !global;
  h1{
    font-size: 4rem;
    color: $primary;
  }
}

h1 {
  color: $primary;
}

p {
  color: variables.$secundary;
}

.title {
  color: var(--secundary);
}

// sass --watch sass:css

/* Este comentario si compila */

//Operaciones en variables

$size: 24px*2;

div{
  font-size: $size;
}

//Interpolacion

$selector: '.hero';
$propiedad: 'font-size';
$rem: 16;

#{$selector}{
  color: lightcoral;
  #{$propiedad}: $rem * 1rem;
}

//Nesting

.hero {
  background-color: red;

  nav{
    display: flex;
  }

  .container {
    background: lightgrey;

    a {
      text-decoration: none;

      span{
        font-size: 20px;
      }
    }

  }
}

.hero, .main {
  color: black;

  .title {
    font-size: 2em;
  }
}

/*Selectores*/

.card > { //Hijo directo

  .item{
    display: none;
  }
}

input:checked{
  +.word{//Hermano adyacente
    color: blue;
  }
}

.menu{
  ~{
    .card {
      display: flex;
    }
  }

  @media screen and (min-width:500px) {
    display: grid;
  }
}

/* Numeros */