* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.flex-container {
  display: flex;
  /* justify-content: space-evenly; */
  height: 100vh;
}

.flex-item {
  background: #248;
  color: #fff;
  /* padding: 10px; */
  margin: 5px;
  min-width: 150px;
  height: 120px;
  text-align: center;
  /* margin-left: auto; */
  flex-grow: 1;
  width: 300px;

}

.orange {
  background: orange;
  /* flex-basis: 200px; */
  flex-shrink: 3;
  order: 4;
}

/* .flex-container div:nth-child(2n) {
  align-self: flex-end;
} */