* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/* .div-responsive {
  background: #c95;
}

@media screen and (min-width: 400px) and (max-width: 650px){
  .div-responsive {
    color: #fff;
  }
} */

/* Estructura responsive Design */

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .main, .aside, .footer {
  padding: 20px;
  height: 100vh;
}

.header {
  background: lightblue;
  flex-basis: 60px;
}

.main {
  background: lightcoral;
  flex-basis: 300px;
  flex-grow: 2;
  flex-shrink: 0;
}

.aside {
  background: lightgreen;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer {
  background: lightsalmon;
  flex-grow: 1;
}

@media screen and (min-width: 700px) {
  /* Ejemplo con flec */
  /* .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main, .aside {
    height: 505px;
  }

  .main {
    flex-grow: 4;
  }

  .aside {
    flex-grow: 1;
  }

  .header {
    flex-basis: 100%;
    max-height: 60px;
  }

  .footer {
    flex-basis: 100%;
    max-height: 60px;
  } */
  /* Ejemplo con Grid */
  .content {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
    grid-column: 1 / span 3;
  }
  .main {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    max-height: 465px;
  }
  .aside {
    max-height: 465px;
  }
  .footer {
    grid-row: 3 / 4;
    grid-column: 1 / span 3;
    height: 80px;
  }
}

/* Mas propiedades */

.container {
  padding: 20px 5px;
  background: lightsalmon;
}

.caja {
  background: lightcyan;
  height: 100px;
  width: 100px;
  transition-property: background, left;
  transition-duration: 1s;
  /* transition-delay: 3s; */
  margin: 30px;
  position: relative;
  left: 0;
}

.container:hover > .caja {
  background: lightgreen;
  left: 80%;
}

.caja:first-child {
  transition-timing-function: linear;
}

.caja:nth-child(2) {
  transition-timing-function: ease;
}

.caja:nth-child(3) {
  transition-timing-function: ease-in;
}

.caja:nth-child(4) {
  transition-timing-function: ease-out;
}

.caja:nth-child(5) {
  transition-timing-function: ease-in-out;
}