* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

body {
  background: linear-gradient(circle, #fff, #bbb);
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  grid-template-rows: 150px 150px 150px;
  border: 1px solid #000;
  /* grid-gap: 10px; */
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  /* grid-auto-flow: dense; */
  justify-items: center;
}

.grid-item {
  border: 3px solid gray;
}

/* .grid-item:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / span 2;
  background: red;
} */

/* .grid-item:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 /3 ;
  background: yellow;
} */

